<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="register()">
      <div class="list">
        <select name="" id="">
          <option value="" selected="">School Name</option>
        </select>
        <label class="item item-input item-floating-label">
          <span class="input-label">Full Name</span>
          <input type="text" placeholder="Full Name">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Standard</span>
          <input type="text" placeholder="Standard (Ex : 1st , 2nd)">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Class</span>
          <input type="text" placeholder="Class (Ex : A , B ,C ..)">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Division</span>
          <input type="text" placeholder="Division">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Roll Number</span>
          <input type="text" placeholder="Roll Number">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Start Test</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
