<ion-view view-title="Playlists">
	<ion-content>
		<div class="section-qa">
			<div class="step-qa" ng-repeat="step in stepsQa track by $index">
				<div class="step-qa-holder" ng-if="$index == viewStep">
					<h3 class="step-qts">{{step.question}}</h3>
					<div class="select-ans">
						<p ng-repeat="ans in step.chooseAns track by $index">
							{{ans}}
						</p>
					</div>
				</div>
			</div>
			<div class="direction-btn">
				<span class="btn-left" ng-click="prevStep();">Prev</span>
				<span class="btn-right" ng-click="nextStep();">Next</span>
			</div>
		</div>
	</ion-content>
</ion-view>
